@font-face {
    font-family: firstFont;
    src: url('./Fonts/Montserrat/Montserrat-Thin.ttf');
}
@font-face {
    font-family: secondFont;
    src: url('./Fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: noway;
    src: url('./Fonts/PTMono/PTMono-Regular.ttf');
}
/* font ekleme yaparken font önce @font-face {} acildiktan sonra istenilen head ve ya p ye uygulanir.  */


/* * {
    margin: 0;
    padding: 0;
} */

* {
    font-size: 24px;
    /* text-align: right; */
    /* yazilarizi saga sola veya ortaya hizalamak icin text-align: ; kullaniyoruz */
    text-align: justify;
    /* text-align: left; */
<<<<<<< HEAD
    /* text-decoration: underline; */
    /* text-decoration: overline;  */
    /* text-decoration: line-through; */
     /* yazilarimizin altini ustunu veya ustunu cizmek icin kullaniyoruz */


     text-transform: capitalize;
     /* kelimelerin ilk harflerini buyultuyor */
     /* text-transform: uppercase;  */
     /* butun harfleri buyuk yapiyor */
     /* text-transform: lowercase; */
     /* kelimelerin hepsini kucuk harf yapiyor */
     
=======
    
>>>>>>> 826d6a9cbd368c9eacf9995b1d02fd18b4ceaf54
     
     

      
}


    


.container {
    margin: auto;
    width: 75%;
}
#head1 {
    font-size: 24px;
    /* margin: 10px auto; */
    margin: 2vh 5vw;
    /* ( % alma işlemi) */
    color: rgb(123, 35, 147);
    width: 300px;
    padding: 50px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.title {
    /* font-size: 48px; */
    font-size: 2rem;
    margin: 2em;
    background-color: antiquewhite;
    font-weight: 400;
}

#head2 {

    /* border: 2px dotted blue; */
    /* border larin hepsini tek yerde verebiliyoruz */
    color: rgba(255, 0 , 0 , 0.3);
    /* margin-bottom: 10px;
    margin-left: 20px; */
    /* margin: 0px 0px 10px 0px; */
    /* margin: 10px 20px; */
    padding: 15px;

}

#heed3 {
    margin: 20px;
}

<<<<<<< HEAD
p.description {
    font-family: secondFont;
=======
/* CSS FONT
    serif
    sans-serif
    monospace
    cursive
    fantasy
    -font cesitleri- */
.title1 {
    font-family: 'Times New Roman', Times, serif;
    /* -font cesitleri- */
}
.title2 {
    font-family: Arial, Helvetica, sans-serif;
    /* -font cesitleri- */
    
}
.title3 {
    font-family: 'Courier New', Courier, monospace;
    /* -font cesitleri- */
}
.title4 {
    font-family: cursive;
    /* -font cesitleri- */    
}

.title5 {
    font-family: Luminari, fantasy ;
    /* -font cesitleri- */
}
p.description {    
    
>>>>>>> 826d6a9cbd368c9eacf9995b1d02fd18b4ceaf54
    text-indent: 20px;
    /* paragraf yapmak icin, satir basi icin  */
    
    text-align: justify;    
    /* text-align: left; */
    text-decoration: underline;
    /* text-decoration: overline;  */
    /* text-decoration: line-through; */
     /* yazilarimizin altini ustunu veya ustunu cizmek icin kullaniyoruz */


     text-transform: capitalize;
     /* kelimelerin ilk harflerini buyultuyor */
     /* text-transform: uppercase;  */
     /* butun harfleri buyuk yapiyor */
     /* text-transform: lowercase; */
     /* kelimelerin hepsini kucuk harf yapiyor */

    letter-spacing: 10px; 
    /* harflerin arasina bosluk birakmak, genisletmek icin    */

    line-height: 60px;
    /* satirlara bosluk mesafe birakiyor, satir boslugu  */

    text-shadow: 1px 1px red;
    /* golge vermek icin ilk yazilan "1px" dikey icin ikinci yazilan ise Yatay golge icin mesafe */

    font-size: 24px;
    /* margin: 2em; */
    /* burada margin'deki 2em degeri font-size'in 2 kati demek oluyor, yani margin 48 olmus oluyor  */

    margin: 2rem;  
    /* root element */
    /* (rem   universel (*) daki font-size ne ise onun çarpımı olur) */
    color: #000;
    /* background-color: greenyellow; */

    /* CSS FONT
    serif
    sans-serif
    monospace
    cursive
    fantasy
    -font cesitleri- */

}

h3.description {

    margin: 5%;

    padding: 20px;

    /* (kenar kalinligi border-width üst-sag-alt-sol) */
    border-width: 2px 5px 3px 10px;  
    /* top right bottom left  */
    border-width: 2px 5px;
    /* top-bottom // right-left */
    border-style: solid;
    border-color: red;
    color: #aeaeae;
}

/* 0 1 2 3 4 .... 9 A B C D E F 

f -> 15.1 + 15.16 = 255

*/